<h2><a href="/trainers">All about <%= @trainer.name %>. Click here to return back to Master List </a></h2>
<div class="pokemon">
  <p>Name: <%= @trainer.name %></p>
  <p>Level: <%= @trainer.level %></p>
  <p>Pokemons: <%= @trainer.pokemons %></p>
  <p><img src ="<%= @trainer.img_url%>"></p>
</div>
